body{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1{
    text-align: center;
}
.caluclator{
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#display{
    width: 90%;
    height: 60px;
    margin: 20px;
    border-radius: 25px;
    background-color: #2196f3;
    color: white;
    font-size: 24px;
    text-align: right;
    border: none;
    outline: none;

}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
button:hover {
    background-color: #d5d5d5;
  }
.red    { background-color: #ff4d4d; color: white; }
.blue   { background-color: #4da6ff; color: white; }
.yellow { background-color: #ffd11a; color: black; }
.green  { background-color: #4dff4d; color: black; }
.dark   { background-color: #333; color: white; }